<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">

    <div class="row" id="footer" style="background-color: rgba(0, 0, 0, 0.7); padding: 10px">

        <!-- Footer for medium-sized displays -->
    <span class="small-6 columns hide-for-small-only">
        <a style="color: white" href="https://goo.gl/maps/AzuADWxLYGm" target="_blank">Schützenstraße 11 <span
                class="show-for-large">・</span><br class="show-for-medium-only"/> 71634 Ludwigsburg
        </a>
    </span>

    <span class="small-6 columns hide-for-small-only" style="text-align: right; color: white">
        <a style="color: white;" href="tel:+49714196120">Tel.: (0 71 41) 96 120</a><span
            class="show-for-large"> ・</span><br class="show-for-medium-only"/> Fax: (0 71 41) 9 00 68
    </span>

        <!-- Footer for small-sized displays -->
    <span class="small-6 columns show-for-small-only">
        <a style="color: white" href="https://goo.gl/maps/AzuADWxLYGm" target="_blank"><i class="fa fa-map-marker"></i>&nbsp; Adresse</a>
    </span>

    <span class="small-6 columns show-for-small-only" style="text-align: right; color: white">
        <a style="color: white;" href="tel:+49714196120"><i class="fa fa-phone"></i>&nbsp; Anrufen</a></span>
    </div>

</th:block>
</html>