<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navbar (currentSite)">

    <!-- Navbar -->
    <div class="row navbar">

        <div class="small-3 navbarLogo columns hide-for-small-only">
            <a href="/"><img class="logoMain" src="images/logo_Strobel.png"/></a>
        </div>
        <div class="small-12 medium-8 medium-offset-1 text-right columns end">
            <div class="top-bar">

                <!-- Triggers the mobile menu -->
                <div class="top-bar-title" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                    <a class="menu-icon dark" type="button" data-open="modal1"></a>
                    <strong style="padding-left: 18px">
                        <a href="/"><img class="logoMobile" src="images/logo_Strobel.png"/></a>
                    </strong>
                </div>

                <div class="hide-for-small-only navbarRightSection">
                    <div class="top-bar-left">
                        <br class="hide-for-medium"/>
                        <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                            <li><a class="hvr" th:classappend="${currentSite == 'welcome'} ? active" href="/">Startseite</a></li>
                        </ul>
                    </div>

                    <div class="top-bar-left">
                        <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                            <li><a class="hvr" th:classappend="${currentSite == 'products'} ? active" href="/products">Produkte</a></li>
                        </ul>
                    </div>

                    <div class="top-bar-left">
                        <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                            <li><a class="hvr" th:classappend="${currentSite == 'repair'} ? active" href="/repair">Reparaturservice</a></li>
                        </ul>
                    </div>

                    <div class="top-bar-left">
                        <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                            <li><a class="hvr" th:classappend="${currentSite == 'company'} ? active" style="white-space: nowrap;" href="/company">Strobel GmbH</a></li>
                        </ul>
                    </div>

                    <div class="top-bar-left">
                        <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                            <li><a class="hvr" th:classappend="${currentSite == 'contact'} ? active" href="/contact">Kontakt</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br/>

    <!-- Menu for mobile -->
    <div class="reveal" id="modal1" data-reveal="">
        <button class="close-button" data-close="" aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h1 style="color: white">Menü</h1>
        <hr/>
        <a class="button expanded" th:classappend="${currentSite == 'welcome'} ? hollow" href="/">Startseite</a>
        <a class="button expanded" th:classappend="${currentSite == 'products'} ? hollow" href="/products">Produkte</a>
        <a class="button expanded" th:classappend="${currentSite == 'repair'} ? hollow" href="/repair">Reparaturservice</a>
        <a class="button expanded" th:classappend="${currentSite == 'company'} ? hollow" href="/company">Strobel GmbH</a>
        <a class="button expanded" th:classappend="${currentSite == 'contact'} ? hollow" href="/contact">Kontakt</a>
        <a class="button expanded" th:classappend="${currentSite == 'about'} ? hollow" href="/about">Impressum</a>
    </div>

</th:block>
</html>