.top-bar-title {
    padding-top: 10px;
    display: none
}

.top-bar {
    background-color: transparent
}

.navbar {
    padding-top: 9px;
    padding-bottom: 14px;
    background-color: #fff;
    min-width: 100%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 0 1px 2px 0 rgba(200, 200, 200, 0.75);
    box-shadow: 0 1px 2px 0 rgba(200, 200, 200, 0.75)
}

.navbarLogo {
    padding-top: 9px
}

.navbarRightSection {
    padding-top: 10px
}

.logoMain {
    width: 180px;
    min-width: 180px
}

.logoMobile {
    width: 140px;
    min-width: 140px
}

.albLogoMobile {
    padding-top: 6px;
    width: 60px;
    min-width: 60px;
}

.top-bar-left {
    float: none
}

#modal1 {
    background-color: rgba(44, 53, 57, 0.95);
    max-width: 70%
}

#modal1 a.button {
    background-color: #005091;
    color: #fff
}

#modal1 a.button:hover, .button:focus {
    background-color: #005091;
    color: #fefefe;
    border-right: solid thin;
    border-left: solid thin
}

#modal1 a.button.hollow {
    border: 1px solid #005091;
    color: #dcdcdc
}

#modal1 a.button.hollow, a.button.hollow:hover, a.button.hollow:focus {
    background-color: transparent
}

.has-tip {
    border-bottom: none;
    font-weight: 400
}

#footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: rgba(44, 53, 57, 0.95);
    padding: 10px
}

a {
    color: #005091
}

a.footer {
    color: #fff
}

a.footer:hover {
    color: #d2d2dc
}

a.call {
    color: #32cd32
}

a.call:hover {
    color: #32cd32
}

h4 {
    color: #005091
}

li {
    list-style-type: square
}

img {
    width: 100%
}

.hvr:hover {
    border-bottom: solid #005091;
    transition: border-bottom .25s ease-out, color .25s ease-out;
    color: #005091
}

.top-bar-left ul li a.active {
    border-bottom: solid #005091;
    transition: border-bottom .25s ease-out, color .25s ease-out;
    color: #005091
}

.wrapper {
    padding: 20px;
    background-color: rgba(0, 80, 145, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff
}

.wrapper a {
    color: #fff
}

.wrapper a:hover {
    text-shadow: 1.5px 1.5px #000
}

.productButton {
    padding-top: 10px;
    text-align: center
}

.productButton a.button.hollow {
    border: 1px solid #005091;
    color: #005091
}

.productButton a.button.hollow:hover, a.button.hollow:focus {
    background-color: #005091;
    color: #fefefe
}

.productOverview {
    color: #005091;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    padding-bottom: 80px
}

.card {
    overflow: hidden;
    border: solid thin rgba(40, 66, 145, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
    color: #272727;
    background-color: #fff
}

.card .title {
    background-color: #005091;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300
}

.card .content {
    padding: 1.3rem;
    border-radius: 0 0 2px 2px
}

.card p {
    margin: 0
}

.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem
}

.card a {
    color: #333;
    margin-right: 1.3rem;
    text-decoration: none
}

.card a:hover {
    color: #005091
}

.card .image {
    position: relative
}

.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    color: #fff
}

.card .image img {
    border-radius: 2px 2px 0 0
}

.cards {
    padding-bottom: 30px;
    min-width: 270px
}

.companyOverview {
    color: #005091;
    font-weight: 400;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 40px;
    padding-bottom: 40px
}

.media-object-section {
    color: #272727
}

.names {
    list-style: outside disc;
    margin-left: 1em
}

.names li {
    position: relative;
    left: 1em;
    padding-right: 1em
}

.companyPageImages {
    padding-bottom: 20px
}

.carouselContainer {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px
}

.carouselContainer img {
    width: 100%
}

.bgimg-1 {
    height: 130px
}

[data-magellan] a {
    color: #005091
}

[data-magellan] a.active, [data-magellan] a.active:focus {
    font-size: large;
    font-weight: 900
}

.image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
    border-radius: 4px
}

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    color: #fff;
    top: 0;
    left: 0
}

.overlay-fade-in p {
    color: #f4f4f4;
    opacity: 0;
    transition: all .2s linear
}

.overlay-fade-in img {
    transition: all .2s linear
}

.overlay-fade-in .image-overlay-content {
    padding: 10px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .4s ease-in-out
}

.overlay-fade-in:hover img {
    transform: scale(1.2)
}

.overlay-fade-in:hover .image-overlay-content {
    opacity: 1
}

.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
    opacity: 1
}

.overlay-fade-in:hover p {
    transition-delay: .1s
}

#return-to-top {
    position: fixed;
    bottom: 70px;
    right: 0px;
    background-color: rgba(44, 53, 57, 0.95);
    width: 45px;
    height: 50px;
    text-decoration: none;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 10px;
    font-size: 19px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9)
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}

.slick-loading .slick-list {
    background: #fff center center no-repeat;
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    opacity: .75;
    color: #005091;
}

.slick-prev {
    left: -25px;
}

.slick-prev:before {
    content: '‹';
}

.slick-next {
    right: -25px;
}

.slick-next:before {
    content: '›';
}