<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body>

<!-- Navbar -->
<div class="row" style="background-color: white; min-width: 100%;">

    <div class="small-3 columns hide-for-small-only">
        <a href="/"><img src="images/header%20(1).png" style="min-width: 180px;"/></a>
    </div>
    <div class="small-12 medium-9 columns end">
        <div class="top-bar" style="background-color: transparent">

            <!-- Triggers the mobile menu -->
            <div class="top-bar-title" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <a class="menu-icon dark" type="button" data-open="modal1"></a>
                <strong style="padding-left: 18px">
                    <a href="/"><img src="images/header%20(1).png" style="max-width: 140px"/></a>
                </strong>
            </div>

            <div class="hide-for-small-only" style="padding-top: 14px;">
                <div class="top-bar-left">
                    <br class="hide-for-medium"/>
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/">Startseite</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/products">Produkte</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/repair">Reparaturservice</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" style="white-space: nowrap;" href="/company">Strobel GmbH</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/contact">Kontakt</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

<br/>

<!-- Menu for mobile -->
<div class="reveal" id="modal1" data-reveal="" style="background-color: rgba(44, 53, 57, 0.95); max-width: 60%">
    <button class="close-button" data-close="" aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 style="color: white">Menü</h1>
    <hr/>
    <a class="button expanded hollow" href="/">Startseite</a>
    <a class="button expanded hollow" href="/products">Produkte</a>
    <a class="button expanded hollow" href="/repair">Reparaturservice</a>
    <a class="button expanded hollow" href="/company">Strobel GmbH</a>
    <a class="button expanded hollow" href="/contact">Kontakt</a>
    <a class="button expanded" href="/about">Impressum</a>
</div>

<br/>
<br/>
<div class="row">
    <div class="wrapper small-11 medium-8 large-5 small-centered columns">

        <h2>Impressum</h2>
        <p><b>Öffnungszeiten Büro:</b></p>

        <p>Montag bis Donnerstag 8 bis 12 Uhr und 13 bis 17 Uhr</p>
        <p>Freitag 8 bis 12 Uhr und 13 bis 14.30 Uhr</p>

        <p><a href="mailto:info@strobel-lb.de">info@strobel-lb.de</a></p>

        <p><a href="tel:+49714196120">Tel.: 07141 96 120</a></p>
    </div>
</div>

<div class="row">
    <!-- Placeholder -->
    <div class="bgimg-1"></div>
</div>

<div th:replace="fragments/footer"></div>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>