<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body>

<div th:replace="fragments/navbar :: navbar (currentSite='company')"></div>

<div class="row" id="topRow">

    <!-- Left side menu with "magellan" scrolling effect -->
    <div class="medium-2 columns show-for-medium" data-sticky-container="">
        <div class="sticky" data-sticky="" data-anchor="topRow">
            <ul class="menu vertical" data-magellan="" style="padding-top: 100px">
                <li><a href="#mag1">Firma</a></li>
                <li><a href="#mag2">Büro</a></li>
                <li><a href="#mag3">Werkstatt</a></li>
                <li><a href="#mag4">Montage</a></li>
                <li><a href="#mag5">Reparatur</a></li>
                <li><a href="#mag6">Ausbildung</a></li>
            </ul>
        </div>
    </div>

    <div class="small-12 medium-10 columns">

        <!-- Firma section -->
        <section id="mag1" data-magellan-target="mag1">
            <div class="companyOverview">
                <h1 style="font-size: 40px; text-align: center">Firma</h1>
                <hr/>
                <br/>
                <br/>

                <div class="media-object stack-for-small">

                    <h4>Die Firma Strobel wurde im Jahre 1931 von Glasermeister Gustav STROBEL gegründet und
                        von seinem Sohn Glasermeister Kurt Strobel von 1950 bis 1995 geführt. </h4>

                    <br/>

                    <div class="media-object-section hide-for-small-only middle" style="width: 50%">
                        <img src="images/firma.jpg"/>
                    </div>

                    <div class="media-object-section show-for-small-only middle" style="width: 100%">
                        <img src="images/firma.jpg"/>
                    </div>

                    <div class="media-object-section">
                        <h5>Seitdem führt Jörg Strobel,
                            Glasermeister und Betriebswirt des Handwerks, erfolgreich die Firma. Seit 2014 gehört die
                            vierte Generation mit Laura Strobel zur Geschäftsführung.</h5>
                    </div>


                </div>

                Die Erfahrung der Mitarbeiter und die Konzentration auf moderne Technologien gewährleistet
                unsere hohe Produktqualität. Es ist erklärtes Unternehmensziel, kundenindividuell,
                problemnah und spontan zu operieren und mit hoher Flexibilität hervorragende Leistungen für
                unsere
                Kunden zu erbringen.<br/>
                Dabei setzen wir auf aktuellste Fachkompetenz, hohe Motivation und
                Zuverlässigkeit unserer Mitarbeiter. Ebenso wichtig sind klare Regeln für Abläufe und das
                Zusammenwirken
                unserer innerbetrieblichen Funktionen. Aus der Kombination von Leistungsfähigkeit,
                Leistungsbereitschaft und systematischem Handeln wollen wir den größtmöglichen Nutzen für
                unsere Kunden erreichen
                und damit dauerhaften Erfolg für unser Unternehmen sichern. Damit legen wir die Basis, dass
                alle
                mit Erfolg für ein Ziel arbeiten: Die Zufriedenheit unserer Kunden.

            </div>
        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Buero section -->
        <section id="mag2" data-magellan-target="mag2">

            <div class="companyOverview">
                <h1 style="font-size: 40px; text-align: center">Büro</h1>
                <hr/>
                <br/>
                <br/>

                <div class="media-object stack-for-small">

                    <p><b>Für den reibungslosen Ablauf sind wir für Sie da. Von der Planung bis zur Ausführung
                        begleiten
                        wir Sie bei Ihren Bautätigkeiten.</b></p>

                    <div class="media-object-section hide-for-small-only middle" style="width: 50%">
                        <img src="images/buero.jpg"/>
                    </div>

                    <div class="media-object-section show-for-small-only middle" style="width: 100%">
                        <img src="images/buero.jpg"/>
                    </div>

                    <div class="media-object-section">

                        <p>Von links nach rechts:</p>
                        <ul class="names">
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Links im Foto">Joachim Pollak</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Zweite Person von links">Laura Strobel</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Mittig">René Buttig</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Zweite Person von rechts">Heike Strobel</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Rechts im Foto">Jörg Strobel</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Werkstatt section -->
        <section id="mag3" data-magellan-target="mag3">

            <div class="companyOverview">
                <h1 style="font-size: 40px; text-align: center">Werkstatt</h1>
                <hr/>
                <br/>
                <br/>

                <div class="media-object stack-for-small">

                    <p><b>In unserer Ludwigsburger Werkstatt entstehen Qualitätsprodukte mit höchstem Anspruch und
                        innovativen Ideen.</b></p>

                    <div class="media-object-section hide-for-small-only middle" style="width: 50%">
                        <img src="images/werkstatt.jpg"/>
                    </div>

                    <div class="media-object-section show-for-small-only middle" style="width: 100%">
                        <img src="images/werkstatt.jpg"/>
                    </div>

                    <div class="media-object-section">

                        <p>Von links nach rechts:</p>
                        <ul class="names">
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Links im Foto">Michael Spahlinger</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Zweite Person von links">Antonio Massidda</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Mitte links">Wolfgang Hajek</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Mittig">Thomas Heinz</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Mitte rechts">Horst Saathoff</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Zweite Person von rechts">Dietmar Girrbach</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Rechts im Foto">Jürgen Kaiser</span></li>
                        </ul>
                    </div>
                </div>

            </div>

        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Montage section -->
        <section id="mag4" data-magellan-target="mag4">

            <div class="companyOverview">
                <h1 style="font-size: 40px; text-align: center">Montage</h1>
                <hr/>
                <br/>
                <br/>

                <div class="media-object stack-for-small">

                    <p><b>
                        Unser Team der Montage kümmert sich um den reibungslosen und sauberen Einbau bei Ihnen vor
                        Ort.
                    </b></p>

                    <div class="media-object-section hide-for-small-only middle" style="width: 50%">
                        <img src="images/montage.jpg"/>
                    </div>

                    <div class="media-object-section show-for-small-only middle" style="width: 100%">
                        <img src="images/montage.jpg"/>
                    </div>

                    <div class="media-object-section">

                        <p>Von links nach rechts:</p>
                        <ul class="names">
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Links im Foto">Karsten Seeberger</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Zweite Person von links">Klaus Mäntele</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Mittig">Rico Pfützner</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Zweite Person von rechts">Walter Wurm</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Rechts im Foto">Hanns-Jörg Otto</span></li>
                        </ul>
                    </div>
                </div>

            </div>

        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Reparatur section -->
        <section id="mag5" data-magellan-target="mag5">

            <div class="companyOverview">
                <h1 style="font-size: 40px; text-align: center">Reparatur-Service</h1>
                <hr/>
                <br/>
                <br/>

                <div class="media-object stack-for-small">

                    <p><b>Wenn es klirrt und klemmt sind unsere versierten Handwerker schnell zur Stelle. Wir bieten
                        Ihnen
                        eine fachgerechte Reparatur von der Verglasung bis zu den Beschlägen.</b></p>

                    <div class="media-object-section hide-for-small-only middle" style="width: 50%">
                        <img src="images/reparatur.jpg"/>
                    </div>

                    <div class="media-object-section show-for-small-only middle" style="width: 100%">
                        <img src="images/reparatur.jpg"/>
                    </div>

                    <div class="media-object-section">

                        <p>Von links nach rechts:</p>
                        <ul class="names">
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Links im Foto">Wolfgang Winter</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Mittig">Thomas Graupe</span></li>
                            <li><span data-tooltip="" aria-haspopup="true" class="has-tip right"
                                      data-disable-hover="false"
                                      tabindex="3" title="Rechts im Foto">Rainer Hartmaier</span></li>
                        </ul>
                    </div>
                </div>

            </div>

        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Ausbildung section -->
        <section id="mag6" data-magellan-target="mag6">

            <div class="companyOverview">
                <h1 style="font-size: 40px; text-align: center">Ausbildung</h1>
                <hr/>
                <br/>
                <br/>

                <div class="media-object stack-for-small">

                    <p><b>Die Qualifikation unserer Mitarbeiter ist uns sehr wichtig. Als Handwerksbetrieb bilden
                        wir schon
                        seit den Anfängen der Firma aus und haben auch schon einige Landessieger hervorgebracht.</b>
                    </p>

                    <div class="media-object-section hide-for-small-only middle" style="width: 50%">
                        <img src="images/ausbildung.jpg"/>
                    </div>

                    <div class="media-object-section show-for-small-only middle" style="width: 100%">
                        <img src="images/ausbildung.jpg"/>
                    </div>

                    <div class="media-object-section">

                        <p>Aktuell sind folgende Auszubildende im Betrieb tätig:</p>
                        <ul class="names">
                            <li>Ali Mercan</li>
                            <li>Simon Schwerdtfeger</li>
                            <li>Tobias Rösch</li>
                            <li>Lena Strobel</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <div class="row">
            <!-- Placeholder -->
            <div class="bgimg-1"></div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<div class="row">
    <!-- Placeholder -->
    <div class="bgimg-1"></div>
</div>

<br/>

<div th:replace="fragments/footer"></div>

</body>
</html>