<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body>

<!-- Navbar -->
<div class="row" style="background-color: white; min-width: 100%;">

    <div class="small-3 columns hide-for-small-only">
        <a href="/"><img src="images/header%20(1).png" style="min-width: 180px;"/></a>
    </div>
    <div class="small-12 medium-9 columns end">
        <div class="top-bar" style="background-color: transparent">

            <!-- Triggers the mobile menu -->
            <div class="top-bar-title" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <a class="menu-icon dark" type="button" data-open="modal1"></a>
                <strong style="padding-left: 18px">
                    <a href="/"><img src="images/header%20(1).png" style="max-width: 140px"/></a>
                </strong>
            </div>

            <div class="hide-for-small-only" style="padding-top: 14px;">
                <div class="top-bar-left">
                    <br class="hide-for-medium"/>
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/">Startseite</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/products">Produkte</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/repair">Reparaturservice</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="#">Referenzen</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr active" style="white-space: nowrap;" href="company">Strobel GmbH</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/contact">Kontakt</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

<br/>

<!-- Menu for mobile -->
<div class="reveal" id="modal1" data-reveal="" style="background-color: rgba(44, 53, 57, 0.95); max-width: 60%">
    <button class="close-button" data-close="" aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 style="color: white">Menü</h1>
    <hr/>
    <a class="button expanded hollow" href="/">Startseite</a>
    <a class="button expanded hollow" href="/products">Produkte</a>
    <a class="button expanded hollow" href="/repair">Reparaturservice</a>
    <a class="button expanded hollow" href="/">Referenzen</a>
    <a class="button expanded" href="/company">Strobel GmbH</a>
    <a class="button expanded hollow" href="/contact">Kontakt</a>
    <a class="button expanded hollow" href="/">Impressum</a>
</div>

<!-- Submenu navigation -->
<div class="row tabRow menu-centered">
    <ul class="tabs menu" data-tabs="" id="company-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Firma</a></li>
        <li class="tabs-title"><a href="#panel2">Büro</a></li>
        <li class="tabs-title"><a href="#panel3">Werkstatt</a></li>
        <li class="tabs-title"><a href="#panel4">Montage</a></li>
        <li class="tabs-title"><a href="#panel5">Reparatur</a></li>
        <li class="tabs-title"><a href="#panel6">Ausbildung</a></li>
    </ul>
</div>

<br/>

<!-- Submenu content -->
<div class="tabs-content" data-tabs-content="company-tabs" style="border-bottom: none;">

    <!-- panel 1 (Firma) -->
    <div class="tabs-panel is-active" id="panel1">
        <div class="small-11 medium-10 small-centered columns">

            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <div class="thumbnail">
                        <img src="images/strobel_gmbh_01.jpg"/>
                    </div>
                </div>
                <div class="media-object-section">
                    <p><b>Die Firma Strobel wurde im Jahre 1931 von Glasermeister Gustav STROBEL gegründet und von
                        seinem
                        Sohn
                        Glasermeister Kurt Strobel von 1950 bis 1995 geführt. Seitdem führt Jörg Strobel, Glasermeister
                        und
                        Betriebswirt des Handwerks, erfolgreich die Firma. Seit 2014 gehört die vierte Generation mit
                        Laura
                        Strobel
                        zur Geschäftsführung.</b></p>
                </div>
                <p/>
                <p>Die Erfahrung der Mitarbeiter und die Konzentration auf moderne Technologien gewährleistet
                    unsere hohe Produktqualität. Es ist erklärtes Unternehmensziel, kundenindividuell, problemnah
                    und spontan zu operieren und mit hoher Flexibilität hervorragende Leistungen für unsere Kunden
                    zu erbringen. Dabei setzen wir auf aktuellste Fachkompetenz, hohe Motivation und Zuverlässigkeit
                    unserer Mitarbeiter. Ebenso wichtig sind klare Regeln für Abläufe und das Zusammenwirken unserer
                    innerbetrieblichen Funktionen. Aus der Kombination von Leistungsfähigkeit, Leistungsbereitschaft
                    und systematischem Handeln wollen wir den größtmöglichen Nutzen für unsere Kunden erreichen und
                    damit dauerhaften Erfolg für unser Unternehmen sichern. Damit legen wir die Basis, dass alle mit
                    Erfolg für ein Ziel arbeiten: Die Zufriedenheit unserer Kunden.</p>
            </div>
        </div>

    </div>

    <!-- panel 2 (Büro) -->
    <div class="tabs-panel" id="panel2">
        <div class="small-11 medium-10 small-centered columns">

            <p><b>
                Für den reibungslosen Ablauf sind wir für Sie da. Von Planung bis zur Ausführung begleiten wir
                Sie bei Ihren Bautätigkeiten.
            </b></p>
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <div class="thumbnail">
                        <img src="images/strobel_gmbh_02.jpg"/>
                    </div>
                </div>
                <div class="media-object-section">
                    <p>Von links nach rechts:</p>
                    <ul>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Links im Foto">Joachim Pollak</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Zweite Person von links">Laura Strobel</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Mittig">René Buttig</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Zweite Person von rechts">Heike Strobel</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Rechts im Foto">Jörg Strobel</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- panel 3 (Werkstatt) -->
    <div class="tabs-panel" id="panel3">
        <div class="small-11 medium-10 small-centered columns">

            <p><b>
                In unserer Ludwigsburger Werkstatt entstehen Qualitätsprodukte mit höchstem Anspruch und innovativen
                Ideen.
            </b></p>
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <div class="thumbnail">
                        <img src="images/strobel_gmbh_03.jpg"/>
                    </div>
                </div>
                <div class="media-object-section">
                    <p>Von links nach rechts:</p>
                    <ul>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Links im Foto">Michael Spahlinger</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Zweite Person von links">Antonio Massidda</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Mitte links">Wolfgang Hajek</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Mittig">Thomas Heinz</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Mitte rechts">Horst Saathoff</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Zweite Person von rechts">Dietmar Girrbach</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Rechts im Foto">Jürgen Kaiser</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- panel 4 (Montage) -->
    <div class="tabs-panel" id="panel4">
        <div class="small-11 medium-10 small-centered columns">

            <p><b>
                Unser Team der Montage kümmert sich um den reibungslosen und sauberen Einbau bei Ihnen vor Ort.
            </b></p>
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <div class="thumbnail">
                        <img src="images/strobel_gmbh_04.jpg"/>
                    </div>
                </div>
                <div class="media-object-section">
                    <p>Von links nach rechts:</p>
                    <ul>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Links im Foto">Karsten Seeberger</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Zweite Person von links">Klaus Mäntele</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Mittig">Rico Pfützner</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Zweite Person von rechts">Walter Wurm</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Rechts im Foto">Hanns-Jörg Otto</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- panel 5 (Reparatur) -->
    <div class="tabs-panel" id="panel5">
        <div class="small-11 medium-10 small-centered columns">

            <p><b>
                Wenn es klirrt und klemmt sind unsere versierten Handwerker schnell zur Stelle. Wir bieten Ihnen eine
                fachgerechte Reparatur von der Verglasung bis zu den Beschlägen.
            </b></p>
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <div class="thumbnail">
                        <img src="images/strobel_gmbh_05.jpg"/>
                    </div>
                </div>
                <div class="media-object-section">
                    <p>Von links nach rechts:</p>
                    <ul>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Links im Foto">Wolfgang Winter</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Mittig">Thomas Graupe</span></li>
                        <li><span data-tooltip="" aria-haspopup="true" class="has-tip right" data-disable-hover="false"
                                  tabindex="3" title="Rechts im Foto">Rainer Hartmaier</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- panel 6 (Ausbildung) -->
    <div class="tabs-panel" id="panel6">
        <div class="small-11 medium-10 small-centered columns">

            <p><b>
                Die Qualifikation unserer Mitarbeiter ist uns sehr wichtig. Als Handwerksbetrieb bilden wir schon seit
                den Anfängen der Firma aus und haben auch schon einige Landessieger hervorgebracht.
            </b></p>
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <div class="thumbnail">
                        <img src="images/strobel_gmbh_06.jpg"/>
                    </div>
                </div>
                <div class="media-object-section">
                    <p>Aktuell sind folgende Auszubildende im Betrieb tätig:</p>
                    <ul>
                        <li>Ali Mercan</li>
                        <li>Simon Schwerdtfeger</li>
                        <li>Tobias Rösch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Placeholder -->
    <div class="bgimg-1"></div>
</div>

<br/>

<div th:replace="fragments/footer"></div>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>