<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      style="background: url('images/contact.jpg') no-repeat center center fixed; background-size: cover">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body style="background: transparent">

<div th:replace="fragments/navbar :: navbar (currentSite='contact')"></div>

<br/>
<br/>
<div class="row">
    <div class="wrapper small-11 medium-8 large-5 small-centered columns">
        <p><b>Öffnungszeiten Büro:</b></p>

        <p>Montag bis Donnerstag 8 bis 12 Uhr und 13 bis 17 Uhr</p>
        <p>Freitag 8 bis 12 Uhr und 13 bis 14.30 Uhr</p>

        <p><a href="mailto:info@strobel-lb.de">info@strobel-lb.de</a></p>

        <p><a href="tel:+49714196120">Tel.: 07141 96 120</a></p>
    </div>
</div>

<div class="row">
    <!-- Placeholder -->
    <div class="bgimg-1"></div>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>