<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body>

<div th:replace="fragments/navbar :: navbar (currentSite='imprint')"></div>

<br/>
<br/>
<div class="row">
    <div class="small-11 medium-8 large-5 small-centered columns">

        <h3>Impressum</h3>
        <hr/>
        <b>VOB (Vergabe- und Vertragsordnung für Bauleistungen)</b>
        <ul>
            <li>
                <a href="images/vob.pdf"
                   target="_blank">Allgemeine Vertragsbedingungen für die Ausführung von Bauleistungen</a> (pdf, 1.5 MB)
            </li>
        </ul>

        <b>Gebrauchsinformationen</b>
        <ul>
            <li><a href="images/fenster" target="_blank">Fenster</a> (pdf, 75 KB)</li>
            <li><a href="images/rolladen" target="_blank">Raffstor und Außenjalousie</a> (pdf, 1.8 MB)</li>
            <li><a href="images/glas" target="_blank">Visuelle Qualität von Glas</a> (pdf, 242 KB)</li>
        </ul>

        <b>Kundenzufriedenheitsumfrage</b>
        <ul>
            <li><a href="images/fragebogen" target="_blank">Fragebogen</a> (pdf, 75 KB)</li>
        </ul>

        <b>Entwicklung und Design</b>
        <ul>
            <li>Fotos: Simon Merkle</li>
            <li>Webseite: Julien Vollweiter</li>
        </ul>

    </div>
</div>

<div class="row">
    <!-- Placeholder -->
    <div class="bgimg-1"></div>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>