<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body>

<!-- Navbar -->
<div class="row" style="background-color: white; min-width: 100%;">

    <div class="small-3 columns hide-for-small-only">
        <a href="/"><img src="images/Logo_Strobel.png" style="min-width: 180px;"/></a>
    </div>
    <div class="small-12 medium-9 columns end">
        <div class="top-bar" style="background-color: transparent">

            <!-- Triggers the mobile menu -->
            <div class="top-bar-title" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <a class="menu-icon dark" type="button" data-open="modal1"></a>
                <strong style="padding-left: 18px">
                    <a href="/"><img src="images/Logo_Strobel.png" style="max-width: 140px"/></a>
                </strong>
            </div>

            <div class="hide-for-small-only" style="padding-top: 14px;">
                <div class="top-bar-left">
                    <br class="hide-for-medium"/>
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/">Startseite</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr active" href="/products">Produkte</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/repair">Reparaturservice</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" style="white-space: nowrap;" href="/company">Strobel GmbH</a></li>
                    </ul>
                </div>

                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal menu" style="background-color: transparent">
                        <li><a class="hvr" href="/contact">Kontakt</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

<br/>

<!-- Menu for mobile -->
<div class="reveal" id="modal1" data-reveal="" style="background-color: rgba(44, 53, 57, 0.95); max-width: 60%">
    <button class="close-button" data-close="" aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 style="color: white">Menü</h1>
    <hr/>
    <a class="button expanded hollow" href="/">Startseite</a>
    <a class="button expanded" href="/products">Produkte</a>
    <a class="button expanded hollow" href="/repair">Reparaturservice</a>
    <a class="button expanded hollow" href="/company">Strobel GmbH</a>
    <a class="button expanded hollow" href="/contact">Kontakt</a>
    <a class="button expanded hollow" href="/about">Impressum</a>
</div>

<div class="row" id="firstRow">

    <!-- Left side menu with "magellan" scrolling effect -->
    <div class="medium-2 columns show-for-medium" data-sticky-container="">
        <div class="sticky" data-sticky="" data-anchor="firstRow">
            <ul class="menu vertical" data-magellan="" style="padding-top: 100px">
                <li><a href="#mag1">Fenster</a></li>
                <li><a href="#mag2">Haustüren</a></li>
                <li><a href="#mag3">Vordächer</a></li>
                <li><a href="#mag4">Wintergärten</a></li>
                <li><a href="#mag5">Fassaden</a></li>
            </ul>
        </div>
    </div>

    <div class="small-12 medium-10 columns">

        <!-- Fenster section -->
        <section id="mag1" data-magellan-target="mag1">
            <div class="productOverview">
                <p style="font-size: 40px; text-align: center">Fenster</p>
                <hr/>
                <p style="font-size: 20px; text-align: center">Qualität am Fenster von der Herstellung bis zur
                    Montage.</p>
                <br/>
                <br/>
                <div class="row" data-equalizer="" data-equalize-on="medium">

                    <div class="small-11 medium-6 large-4 columns small-centered medium-uncentered cards">

                        <h5>Kunststoff Fenster</h5>

                        <div class="image-wrapper overlay-fade-in">
                            <img src="images/pr_fenster_kunststoff.jpg"/>
                            <div class="image-overlay-content">
                                <p>Hohe Steifigkeit</p>
                                <p>Sehr gute Wärmedämmwerte</p>
                                <p>Hohe Schalldämmung</p>
                                <p>5-Kammer-System</p>
                            </div>
                        </div>

                        <div class="productButton">
                            <a data-open="kunststoffModal" class="button hollow">Mehr Infos</a>
                        </div>

                        <div class="reveal" id="kunststoffModal" data-reveal="">
                            <h4>Kunststoff Fenster</h4>
                            <hr/>
                            <ul>
                                <li>5-Kammer-System in verschiedenen Varianten</li>
                                <li>Hohe Steifigkeit</li>
                                <li>sehr gute Wärmedämmwerte</li>
                                <li>UW-Werte von bis zu 0,9 W/m2K möglich</li>
                                <li>Hohe Schalldämmung bis 42 db</li>
                                <li>Einbruchhemmende Elemente bis Widerstandsklasse 2</li>
                            </ul>
                            <button class="close-button" data-close="" aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>

                    <div class="small-11 medium-6 large-4 columns small-centered medium-uncentered cards">

                        <h5>Holz Fenster</h5>

                        <div class="image-wrapper overlay-fade-in">
                            <img src="images/pr_fenster_holz.jpg"/>
                            <div class="image-overlay-content">
                                <p>Massivholzausführung</p>
                                <p>Extrem gute Wärmedämmwerte</p>
                                <p>Super-Schalldämmung</p>
                                <p>Ideales Raumklima</p>
                            </div>
                        </div>

                        <div class="productButton">
                            <a data-open="holzModal" class="button hollow">Mehr Infos</a>
                        </div>

                        <div class="reveal" id="holzModal" data-reveal="">
                            <h4>Holz Fenster</h4>
                            <hr/>
                            <ul>
                                <li>STROBEL-Systeme IV 68/71 und IV 78/81 in erstklassiger Optik</li>
                                <li>Sehr stabile Massivholzausführung</li>
                                <li>Extrem gute Wärmedämmwerte UW-Werte von bis zu 0,7 W/m2K</li>
                                <li>Super-Schalldämmung bis 45 db</li>
                                <li>Einbruch-Elemente bis Widerstandsklasse 3</li>
                                <li>Ideales Raumklima</li>
                                <li>Hoher Wohnkomfort</li>
                            </ul>
                            <button class="close-button" data-close="" aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>

                    <div class="small-11 medium-6 large-4 columns small-centered medium-uncentered cards">

                        <h5>Holz-Aluminium Fenster</h5>

                        <div class="image-wrapper overlay-fade-in">
                            <img src="images/pr_fenster_holz-alu.jpg"/>
                            <div class="image-overlay-content">
                                <p>Erhältlich in RAL-Farben</p>
                                <p>Extrem gute Wärmedämmwerte</p>
                                <p>Super-Schalldämmung</p>
                                <p>Ideales Raumklima</p>
                            </div>
                        </div>

                        <div class="productButton">
                            <a data-open="holzAluModal" class="button hollow">Mehr Infos</a>
                        </div>

                        <div class="reveal" id="holzAluModal" data-reveal="">
                            <h4>Holz-Aluminium Fenster</h4>
                            <hr/>
                            <ul>
                                <li>STROBEL-Systeme HA/ IV 76/95 und HA/IV 86/105</li>
                                <li>Äußere flächenbündige Konstruktionen</li>
                                <li>Extrem gute Wärmedämmwerte UW-Werte von bis zu 0,7 W/m2K</li>
                                <li>Super-Schalldämmung bis 45 db</li>
                                <li>Einbruch-Elemente bis Widerstandsklasse 3</li>
                                <li>Ideales Raumklima</li>
                                <li>Hoher Wohnkomfort</li>
                                <li>Oberflächenvielfalt durch RAL-Farben sowie Sondereffekte</li>
                            </ul>
                            <button class="close-button" data-close="" aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>

                    <div class="small-11 medium-6 large-4 columns small-centered medium-uncentered cards">

                        <h5>Aluminium Fenster</h5>

                        <div class="image-wrapper overlay-fade-in">
                            <img src="images/pr_fenster_kunsstoff_03.jpg"/>
                            <div class="image-overlay-content">
                                <p>Besonders hohe Festigkeiten</p>
                                <p>Sehr gute Wärmedämmwerte</p>
                                <p>Super-Schalldämmung</p>
                                <p>Wartungsfreie Aluminium Profile</p>
                            </div>
                        </div>

                        <div class="productButton">
                            <a data-open="aluModal" class="button hollow">Mehr Infos</a>
                        </div>

                        <div class="reveal" id="aluModal" data-reveal="">
                            <h4>Aluminium Fenster</h4>
                            <hr/>
                            <ul>
                                <li>Mehrkammer-Systeme sowie Pfosten-Riegel-Konstruktion in sehr vielen Varianten</li>
                                <li>Besonders hohe Festigkeiten</li>
                                <li>Sehr gute Wärmedämmwerte UW-Werte von bis zu 1,1 W/m2K</li>
                                <li>Super-Schalldämmung bis 45 db</li>
                                <li>Einbruch-Elemente bis Widerstandsklasse 3</li>
                                <li>Äußere flächenbündige oder versetzte Ausführungen</li>
                                <li>Ästhetik durch klare Linienführung</li>
                                <li>Wartungsfreie Aluminium Profile</li>
                            </ul>
                            <button class="close-button" data-close="" aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>

                    <div class="small-11 medium-6 large-4 columns small-centered medium-uncentered end cards">

                        <h5>Holz-Glas Fenster</h5>

                        <div class="image-wrapper overlay-fade-in">
                            <img src="images/pr_fenster_holz-glas.jpg"/>
                            <div class="image-overlay-content">
                                <p>Pflege- und Wartungsfrei</p>
                                <p>Sehr leicht zu reinigen</p>
                                <p>Viel Glas und Licht</p>
                                <p>Verschiedene Farben möglich</p>
                            </div>
                        </div>

                        <div class="productButton">
                            <a data-open="holzGlasModal" class="button hollow">Mehr Infos</a>
                        </div>

                        <div class="reveal" id="holzGlasModal" data-reveal="">
                            <h4>Holz-Glas Fenster</h4>
                            <hr/>
                            <ul>
                                <li>STROBEL-Systeme in Holz oder Holz-Aluminium</li>
                                <li>Flügel mit äußerem Stufenisolierglas</li>
                                <li>Rahmenlose Glasoberflächen</li>
                                <li>Absolut Pflege- und Wartungsfrei</li>
                                <li>Sehr leicht zu reinigen</li>
                                <li>Viel Glas und Licht durch schmale Flügelprofile</li>
                                <li>Äußere Glasscheibe aus Sicherheitsglas</li>
                                <li>Verschiedene Farben im Randbereich möglich</li>
                            </ul>
                            <button class="close-button" data-close="" aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    </div>
                </div>
                <br/>
            </div>
        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Tueren section -->
        <section id="mag2" data-magellan-target="mag2">
            <div class="productOverview">
                <p style="font-size: 40px; text-align: center">Haustüren</p>
                <hr/>
                <p style="font-size: 20px; text-align: center">Eine Hauseingangstüre ist mehr als nur ein Eingang.</p>
                <p style="font-size: 20px; text-align: center">Sie ist die Visitenkarte eines Hauses.</p>
                <br/>
                <br/>

                <div class="row">

                    <div class="small-12 medium-6 large-5 large-offset-1 columns carouselContainer">
                        <div class="carousel">
                            <div><img src="images/pr_haustueren_03.jpg"/></div>
                            <div><img src="images/pr_haustueren_03.jpg"/></div>
                            <div><img src="images/pr_haustueren_03.jpg"/></div>
                        </div>
                    </div>

                    <div class="small-12 medium-6 large-5 end columns">
                        <div class="card">
                            <div class="content">
                                <p>
                                    Bei den Haustüren und Eingangsportalen spielt nicht nur die Ästhetik eine große
                                    Rolle,
                                    sondern eine Vielzahl technischer Funktionen. Sie muss optimale Sicherheit,
                                    Schutz vor Lärm, Wind und Wetter sowie Wärme- und Schalldämmung besitzen.
                                    Türen und Eingangsanlagen werden mit einem hohen Qualitätsniveau mit allen
                                    möglichen
                                    technischen Funktionen sowie ansprechendem Design von der Firma Strobel
                                    gefertigt.
                                </p>
                            </div>
                            <div class="action">
                                <a href='http://adeco.atbit.de/app/Configurator.asp?user=26596' target="_blank">
                                    Haustürkonfigurator <span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Vordaecher section -->
        <section id="mag3" data-magellan-target="mag3">
            <div class="productOverview">
                <p style="font-size: 40px; text-align: center">Vordächer</p>
                <hr/>
                <p style="font-size: 20px; text-align: center">Um den Hauseingangsbereich vor Wind und Wetter zu
                    schützen ist ein Vordach aus dem Hause STROBEL die optimale Lösung.</p>
                <br/>
                <br/>

                <div class="row">

                    <div class="small-12 medium-6 large-5 large-offset-1 columns carouselContainer">
                        <div class="carousel">
                            <div><img src="images/pr_vordaecher_01.jpg"/></div>
                            <div><img src="images/pr_vordaecher_01.jpg"/></div>
                            <div><img src="images/pr_vordaecher_01.jpg"/></div>
                        </div>
                    </div>

                    <div class="small-12 medium-6 large-5 end columns">
                        <div class="card">
                            <div class="content">
                                <p>
                                    Bei der Wahl des Materials, der Farbe und der Konstruktion achten wir auf
                                    harmonisches
                                    und
                                    stilgerechtes Einbinden des Vordaches in die Fassade und den Eingangsbereich.
                                    Durch
                                    unser
                                    qualifiziertes Strobel-Team können wir eine optimale Planung, Fertigung und
                                    Montage
                                    gewährleisten.</p>
                                <p>Überzeugen Sie sich selbst.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Wintergaerten section -->
        <section id="mag4" data-magellan-target="mag4">
            <div class="productOverview">
                <p style="font-size: 40px; text-align: center">Wintergärten</p>
                <hr/>
                <p style="font-size: 20px; text-align: center">Um den Wohnkomfort zu steigern, sowie Wohnraum zu
                    schaffen, ist ein Wintergarten aus unserer Produktion eine optimale Lösung.</p>
                <br/>
                <br/>

                <div class="row">

                    <div class="small-12 medium-6 large-5 large-offset-1 columns carouselContainer">
                        <div class="carousel">
                            <div><img src="images/pr_wintergaerten_02.jpg"/></div>
                            <div><img src="images/pr_wintergaerten_02.jpg"/></div>
                            <div><img src="images/pr_wintergaerten_02.jpg"/></div>
                        </div>
                    </div>

                    <div class="small-12 medium-6 large-5 end columns">
                        <div class="card">
                            <div class="content">
                                <p>Bei der Planung und Ausführung wird nicht nur Wert auf optimales Design und Aussehen
                                    gelegt, sondern auch auf die funktionale Nutzung. Um ein optimales Wohnklima im
                                    Sommer wie auch im Winter zu schaffen, benötigt man ein sehr breit gefächertes
                                    Fachwissen. Dieses Wissen erlangen unsere Techniker, Meister und Facharbeiter durch
                                    ständiges schulen und weiterbilden. Durch diesen Vorsprung an Wissen, können wir
                                    verschiedene Konstruktionen mit den unterschiedlichsten Materialien planen und
                                    herstellen. Um nichts dem Zufall zu überlassen, werden vor der Fertigung
                                    CAD-Zeichnungen erstellt und mit den Bauherren und Planern durchgesprochen.
                                    Bei der Auswahl der Konstruktion, der Gläser, der Beschattungen sowie der
                                    kontrollierten Be- und Entlüftung stehen Ihnen optimale Referenzobjekte und unser
                                    Ausstellungsraum zur Verfügung.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Placeholder -->
        <div class="bgimg-1"></div>

        <!-- Fassaden section -->
        <section id="mag5" data-magellan-target="mag5">
            <div class="productOverview">
                <p style="font-size: 40px; text-align: center">Fassaden</p>
                <hr/>
                <p style="font-size: 20px; text-align: center">Oft sind es nur kleine Feinheiten, die den Reiz einer
                    schönen Optik ausmachen.</p>
                <br/>
                <br/>

                <div class="row">

                    <div class="small-12 medium-6 large-5 large-offset-1 columns carouselContainer">
                        <div class="carousel">
                            <div><img src="images/pr_haustueren_03.jpg"/></div>
                            <div><img src="images/pr_haustueren_03.jpg"/></div>
                            <div><img src="images/pr_haustueren_03.jpg"/></div>
                        </div>
                    </div>

                    <div class="small-12 medium-6 large-5 end columns">
                        <div class="card">
                            <div class="content">
                                <p>In der heutigen Zeit ist es sehr wichtig, bei der Planung und Ausführung einer
                                    Fassade die richtigen Materialien miteinander abzustimmen, so dass sie einen
                                    reizvollen Kontrast im Gebäude sowie in der Landschaft bilden.</p>
                                <p>Wir bieten eine große Auswahl an verschiedenen Systemen, Gläsern und Konstruktionen,
                                    die bei höchster Funktionalität die ideale Lösung für jedes Gebäude und jeden
                                    Geschmack darstellen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <!-- Placeholder -->
            <div class="bgimg-1"></div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<div th:replace="fragments/footer"></div>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>