<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header"></div>
</head>
<body>

<div th:replace="fragments/navbar :: navbar (currentSite='welcome')"></div>

<div class="row">

    <!-- Welcome text -->
    <div class="small-12 medium-6 large-5 large-offset-1 columns" style="padding-bottom: 30px">
        <div class="card">
            <div class="content">
                <h4>Herzlich Willkommen bei der STROBEL GmbH</h4>
                <hr/>
                <p>Qualität am Fenster von der Herstellung bis zur Montage – an dieser Tradition halten wir seit dem
                    Jahr
                    1931 in dritter und vierter Generation fest.</p>
                <p>Wir bieten Ihnen als Fenster-Fachbetrieb mit erfahrenen Mitarbeitern und modernster Technik alle
                    erdenklichen Fenster- und Türsysteme in Kunststoff, Holz, Holz-Aluminium und Aluminium aus
                    eigener
                    Fertigung in Ludwigsburg an. Alle Produkte die unsere Werkstatt verlassen sind von höchster
                    handwerklicher Güte.</p>
                <p>Um Ihnen bei Planungen und Bauvorhaben mit Rat und Tat zur Seite zu stehen bilden sich unsere
                    Techniker
                    und Meister ständig weiter. Bei uns wird nichts dem Zufall überlassen.</p>
                <p>Gerne beraten wie Sie persönlich.<br/>
                    <b>Ihr Strobel-Team</b></p>
            </div>
        </div>
    </div>

    <!-- Carousel -->
    <div class="small-12 medium-6 large-5 end columns carouselContainer">
        <div class="carousel">
            <div><img src="images/welcome_01.jpg"/></div>
            <div><img src="images/welcome_02.jpg"/></div>
            <div><img src="images/welcome_03.jpg"/></div>
            <div><img src="images/welcome_04.jpg"/></div>
        </div>
    </div>

</div>

<div class="row">
    <!-- Placeholder -->
    <div class="bgimg-60"></div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer"></div>

<script src="js/vendor/jquery.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>